* {
  font-family: monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("400179.jpg");
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  background-color: white;
  border: 3px solid black;
  border-radius: 8px;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: black;
  font-weight: bolder;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 20px;
  background-color: rgb(10, 109, 76);
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: rgb(65, 2, 49);
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 14px;
  border-radius: 8px;
  border: 3px solid black;
  flex-grow: 1;
  margin-top: 13px;

}

button {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(65, 2, 49);
  color: white;
  border: 3px solid black;
  border-radius: 8px;
  margin-top: 13px;
  margin-left: 3px;
}